.tiptap {
  white-space: pre-wrap;
  outline: none;
  min-height: 100dvh;
  padding-bottom: var(--tiptap-padding-bottom);

  /* Placeholder styles */
  p.is-editor-empty:first-child::before {
    color: #adb5bd;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
  }
}

ion-title {
  input {
    border: none;
    background: transparent;
    outline: none;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
    text-align: inherit;
    width: 100%;
    padding: 0;
    margin: 0;
  }
}
